torch>=2.5.0
torchvision>=0.20.0
torchaudio>=2.5.0
lightning>=2.5.0
triton>=3.1.0
transformers>=4.48.0
datasets>=3.2.0
peft>=0.14.0
accelerate>=1.2.0
tokenizers>=0.21.0
huggingface-hub>=0.27.0
gluonts>=0.16.0
sktime>=0.35.0
PyWavelets>=1.8.0
thop>=0.1.1
torchstat>=0.0.7
line_profiler>=4.1.0
torch-tb-profiler>=0.4.3
numba>=0.61.0
numpy>=2.1.0
pyarrow>=18.0.0
pandas>=2.2.0
scikit-learn>=1.6.0
pydantic>=2.10.0
local-attention>=1.9.0
reformer-pytorch>=1.4.0
matplotlib>=3.10.0
tensorboard>=2.18.0
rich>=13.9.0
tqdm>=4.67.0
timm>=0.9.0